*{
    padding: 0px;
    margin: 0px;
} 
#container_1{
    background-image: linear-gradient(to right,red,green ,yellow );
    display: flex;
    justify-content: center;
    
}
/* Container 2 */
#container_2{
    border: 3px solid red;
    border-radius: 13px;
    background-color: #a4d3e4;
    margin: 10px 30rem;
    display: flex;
    justify-content: center;
}
#container_2 li{
    padding-left: 5rem;
}
/* Container 3 */
#container_3{
    background-color: #70f7cf;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 20px;
    padding: 0px 1rem;
    border: 2px solid black;
    margin-bottom: 5px;
}
.c3_box{
    background-color: #62fbfd;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    height: min-content;
    width: auto;
}
.c3_box p{
    font-weight: bold;
    text-align: center;
}
/* Container 4 */
#container_4{
    background-image:linear-gradient(45deg, red 2%, rgb(216, 216, 58), red);
    margin: 10px 0px;
    padding-bottom: 1.3rem;
    display: flex;
    justify-content:center;
}
/* Container 5 */
#container_5{
    background-image:radial-gradient(#1d3cf3,#56cd6c);
    border:1.5px solid black;
    padding: 7rem 10rem 7rem 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}
.c5_box{
    width: 10rem;
    background-color: #fef847;
    color: #852e00;
    border:2px solid #852e00;
    border-radius:10px ;
    line-height: 1.7rem;
    padding:0px 1.5rem 1rem 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
/* Container 6 */
#container_6{
    color: white;
    margin: 2rem 0rem;
    border: 2px solid grey;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 2rem 4rem 6rem 1.2rem;
}
#red_box{
    text-align: center;
    font-size: 18px;
    background-color: #e73847;
    grid-column: 1/-1;
}
#green_box{
    font-size: 1.9rem;
    height: min-content;
    text-align: center;
    background-color: #57d169;
    grid-column: 1/2;
}
#lblue_box{
    font-size: 1.9rem;
    height: min-content;
    background-color: #2583f7;
    grid-column: 2/3;
}
#blue_box{
    font-size: 1.3rem;
    height: min-content;
    background-color: #4847ea;
    grid-column: 3/4;
}
#orange_box{
    font-weight: bold;
    background: #f29937;
    grid-column: 1/4;
}
#black_box{
    background-color:#292d37 ;
    grid-column: 4/5;
    grid-row: 2/4;
}
#black_box ol{
    padding-left: 1.3rem;
}
#teal_box{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background-color: #50cccd;
    grid-column: 1/5;
}
.h{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}
